# Flutter / Dart
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/*.iml
mobile/android/.gradle/
mobile/android/local.properties

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Env / secrets
*.env
*.keystore
*.jks
google-services.json
